fastapi
uvicorn
streamlit

openai
langchain
langchain-openai
langchain-community
langchain-text-splitters

chromadb
boto3
botocore

python-docx
pandas
numpy

rank-bm25
sentence-transformers

presidio-analyzer

ragas
datasets

ipywidgets
tiktoken

python-dotenv
httpx
pydantic